{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body_content %}
<script src="/static/js/three.js"></script>
<script src="/static/js/require.js"></script>
<script src="/static/js/GLTFLoader.js"></script>
<script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>
<script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/DRACOLoader.js"></script>

<h1 class="bg-blue-500 text-gray-900 font-bold text-4xl">UpMock - 3D Mockup Generator.</h1>

<style>
	body { margin: 0; }
	canvas { display: block; }
</style>

<script>
	//Scene
	var scene = new THREE.Scene();

	//Camera
	var camera = new THREE.PerspectiveCamera(75, window.innerWidth/window.innerHeight, 0.1, 1000);

	//Renderer
	var renderer = new THREE.WebGLRenderer({antialias: true});
	renderer.setSize(window.innerWidth, window.innerHeight);
	renderer.setClearColor('#e5e5e5');
	document.body.appendChild(renderer.domElement);

	//Geometry
	var geometry = new THREE.SphereGeometry(1, 32, 32);
	var material = new THREE.MeshLambertMaterial( { color: 0x00ff00 } );
	var cube = new THREE.Mesh( geometry, material );
	scene.add( cube );

	//Light
	var light = new THREE.PointLight(0xffffff, 1, 500);
	light.position.set(10, 0, 25);
	scene.add(light);

	camera.position.z = 5;

	renderer.render(scene, camera);
</script>


{% endblock %}